@model IEnumerable<MyTask>

<h4><a asp-area="" asp-controller="Tasks" asp-action="Create">Create new Task</a></h4>
<h1>List of tasks:</h1>
<table class="table">
    <tr>
        <th>
            <label asp-for=@Model.First().Id></label>
        </th>
        <th>
            <label asp-for=@Model.First().Name></label>
        </th>
        <th>
            <label asp-for=@Model.First().Description></label>
        </th>
    </tr>
    @foreach (var task in @Model)
    {
        <tr>
            <td>
                @task.Id
            </td>
            <td>
                @task.Name
            </td>
            <td>
                @task.Description
            </td>
        </tr>
    }
</table>
