@model IEnumerable<MyTracker.ViewModels.TasksViewModel>

<h4><a asp-area="" asp-controller="Tasks" asp-action="Create">Create new Task</a></h4>
<h1>List of tasks:</h1>
<table class="table">
    <tr>
        <th>
            <label asp-for=@Model.First().Name></label>
        </th>
        <th>
            <label asp-for=@Model.First().Description></label>
        </th>
        <th>
            <label asp-for=@Model.First().UserName></label>
        </th>
    </tr>
    @foreach (var task in @Model.OrderBy(model => model.Name))
    {
        <tr>
           <td>
                @task.Name
            </td>
            <td>
                @task.Description
            </td>
            <td>
                @task.UserName
            </td>
        </tr>
    }
</table>
